
<div class="jumbotron center">
	<body background="http://www.dsogaming.com/wp-content/uploads/2012/01/ScreenShot0034.jpg">
	<h1>This shall be pinteresting.</h1>
	<p>My name is Jeff</p>
</body>
</div>