
<div class="jumbotron">
	<h1>About Body Fuel</h1>
	<p>Body Fuel is a food blog. We'll talk about different foods, and what you can do with food. Mostly focusing on gourmet burger, hot dogs, and grilled cheeses.</p>
</div>