
<div class="jumbotron">
	<h1>About us</h1>
		<p>This application will be a place for all cheese lovers to look at pictures and share pictures of their favorite cheeses, you can share stories, and reviews on the best cheeses in da world. OH! And don't forget you can always be cheesey here. Have a gouda day!</p>
</div>