
<div class="jumbotron">
	<h1> This is the cheese</h1>
	<p> All about that cheese.</p>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://davidlebovitz.com.s3.amazonaws.com/wp-content/uploads/2012/11/8199399678_3ac1a17b9a.jpg" >
    </a>
  </div>
 <h3>Gouda</h3>
 <p>This is gouda. Gouda is said to be a mild tasting cheese, good with nuts, Planters to be exact.</p>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://www.howitworksdaily.com/wp-content/uploads/2015/05/j5084_img_0373.jpg" >
    </a>
  </div>
  <h3>Swiss</h3>
  <p>This is Swiss. Swiss is said to also have a mild yet stronger taste than the above Gouda, best with wheat thins found at your local IGA.</p>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://foodnessgracious.com/wp-content/uploads/2013/05/blue-cheese-012.jpg" >
    </a>
  </div>
  <h3>Blue</h3>
  <p>This is Blue Cheese, its just nasty.</p>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://www.wisconsincheesemart.com/uploads/dzpro_shop_items/dzpro_shop_item_image/1179cheddar5yrhalfloaf8-jpg.jpg" >
    </a>
  </div>
  <h3>Cheddar</h3>
  <p>This is Cheddar, one of the most popular of all cheeses. Best made in between two pieces of bread. </p>
</div> 
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="http://p-fst1.pixstatic.com/51bc6eebd9127e25e5000c92._w.540_s.fit_.JPEG" >
    </a>
  </div>
  <h3>Mozzarella</h3>
  <p>This is Mozzarella, best known as the "Itailian cheese", it's also best on top of the spaghetti that you're shoving in your mouth.</p>
</div>




</div>