
<div class="jumbotron">
	
	<h1>Dis my app about cheese!</h1>
	<img src="http://images.idiva.com/media/content/2011/Nov/cheesy_delights.jpg" alt="..." class="img-rounded">
	<p>Click here to <%= link_to "Sign ^", "#", class: "btn btn-success btn-lg" %>.</p>
	
</div>