
<div class="jumbotron">
	
	<h1>Body Fuel</h1>
	<img src="https://www.gapyear.com/images/content/Images/180613-LD-FLICKR-14-burger.jpg" alt="..." class="img-circle">
	<p>Click here to <%= link_to "Sign ^", "#", class: "btn btn-success btn-lg" %>.</p>	

</div>
