<div class="jumbotron center">
	<h1>Profile</h1>
		<h3>Leah Michael</h3>
			<img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/12027706_1109630725733652_3387360765424731525_n.jpg?oh=fa6648cd76a1ae0e66c345355df965ba&oe=5690ADAD" alt="..." class="img-rounded" height="200px" width="200px">
	<p> 
		<p>I'm Leah Michael. Born and raised in Cheraw, South Carolina. I enjoy kayaking, technology, and food. Follow me and follow along with my life and interests.</p>
		<button type="button" class="btn btn-success">Follow</button> 
	</p>
</div>

